.first_party {
  background-image: url("../../assets/img/imran.jpg");
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
}
.second_party {
  background-image: url("../../assets/img/shahbaz.jpg");
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
}
.third_party {
  background-image: url("../../assets/img/asif.jpg");
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
}
.forth_party {
  background-image: url("../../assets/img/saad.jpg");
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
}
.party_heading {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}
.party_logo {
  display: flex;
  align-items: center;
}
.party_logo span {
  font-size: 3rem;
}
.party_logo img {
  height: 100px;
}
