.head-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #9c69e2;
  text-transform: capitalize;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}
.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.btns-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-hire {
  padding: 13px 26px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  border: none;
  background-color: #9c69e2;
  box-shadow: 0 0 20px #eee;
  font-size: 1rem;
  cursor: pointer;
}

.btn-hire:hover {
  /* change the direction of the change here */
  color: #000;
  background-color: #eee;
  text-decoration: none;
  transform: translateY(-5px);
}

.app__profile-item {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  padding: 0.5rem;
}
.app__profile-item img {
  width: 80%;
  height: 237px;
  border-radius: 15px;
  margin: 0 auto;
  object-fit: cover;
}
.load {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 1rem auto;
}
.load button {
  min-width: 100px;
  max-width: 120px;
  margin-top: 24px;
  margin-left: 1rem;

  padding: 12px 24px;
  border: none;
  color: white;
  background-color: #9c69e2;
  cursor: pointer;
}
.load button:hover {
  background-color: #eee;
  color: #9c69e2;
}
.active {
  background-color: #eee;
  color: #9c69e2;
  transform: translateY(-5px);
}
.sections {
  width: 50%;
  margin: 2rem auto;
  justify-content: space-between;
  display: flex;
  height: 400px;
}
.candidates_form {
  width: 100%;
  gap: 5px;
}
.capital {
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .app__profile-item {
    width: 370px;
    margin: 2rem 4rem;
  }

  .app__profile-item img {
    height: 284px;
  }
  /*  */
  .load {
    width: fit-content;
  }
  .head-text {
    font-size: 0.7rem;
    font-weight: normal;
    justify-content: space-around;
    color: black;
    text-transform: capitalize;
  }
  .btns-portfolio {
    display: flex;
    flex-wrap: wrap;
  }
}
