.head-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  position: sticky;
  width: 100%;
  top: 0;
}
.main_candidate {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: 100vh;
}
.candidate_form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 2rem auto;
  gap: 1rem;
  background: rgb(41, 44, 61);
  background: linear-gradient(
    90deg,
    rgba(41, 44, 61, 1) 0%,
    rgba(35, 44, 45, 1) 0%,
    rgba(16, 37, 80, 1) 100%
  );

  padding: 2rem;
}
.candidate_form input,
.candidate_form select {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.6rem;
}
