body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -moz-linear-gradient(
    90deg,
    rgba(246, 250, 253, 1) 50%,
    rgba(246, 246, 253, 1) 98%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(246, 250, 253, 1) 50%,
    rgba(246, 246, 253, 1) 98%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(246, 250, 253, 1) 50%,
    rgba(246, 246, 253, 1) 98%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F6F6FD', endColorstr='#F6FAFD', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(246, 250, 253, 1) 50%,
    rgba(246, 246, 253, 1) 98%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(246, 250, 253, 1) 50%,
    rgba(246, 246, 253, 1) 98%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
